[submodule "packages/quanttide-data-toolkit"]
	path = packages/quanttide-data-toolkit
	url = git@github.com:quanttide/quanttide-data-toolkit.git
[submodule "packages/quanttide-project-toolkit"]
	path = packages/quanttide-project-toolkit
	url = git@github.com:quanttide/quanttide-project-toolkit.git
[submodule "packages/quanttide-course-toolkit"]
	path = packages/quanttide-course-toolkit
	url = git@github.com:quanttide/quanttide-course-toolkit.git
[submodule "packages/quanttide-connect-toolkit"]
	path = packages/quanttide-connect-toolkit
	url = git@github.com:quanttide/quanttide-connect-toolkit.git
[submodule "packages/quanttide-base-toolkit"]
	path = packages/quanttide-base-toolkit
	url = git@github.com:quanttide/quanttide-base-toolkit.git
[submodule "packages/quanttide-agent-toolkit"]
	path = packages/quanttide-agent-toolkit
	url = git@github.com:quanttide/quanttide-agent-toolkit.git
[submodule "packages/quanttide-knowl-toolkit"]
	path = packages/quanttide-knowl-toolkit
	url = git@github.com:Guo-Zhang/quanttide-knowl-toolkit
[submodule "packages/quanttide-audit-toolkit"]
	path = packages/quanttide-audit-toolkit
	url = git@github.com:quanttide/quanttide-audit-toolkit.git
[submodule "packages/quanttide-docs-toolkit"]
	path = packages/quanttide-docs-toolkit
	url = git@github.com:quanttide/quanttide-docs-toolkit.git
[submodule "packages/quanttide-devops-toolkit"]
	path = packages/quanttide-devops-toolkit
	url = git@github.com:quanttide/quanttide-devops-toolkit.git
