[submodule "domains/quanttide-data-toolkit"]
	path = domains/quanttide-data-toolkit
	url = https://github.com/quanttide/quanttide-data-toolkit.git
[submodule "domains/quanttide-project-toolkit"]
	path = domains/quanttide-project-toolkit
	url = https://github.com/quanttide/quanttide-project-toolkit.git
[submodule "domains/quanttide-course-toolkit"]
	path = domains/quanttide-course-toolkit
	url = https://github.com/quanttide/quanttide-course-toolkit.git
[submodule "domains/quanttide-connect-toolkit"]
	path = domains/quanttide-connect-toolkit
	url = https://github.com/quanttide/quanttide-connect-toolkit.git
[submodule "domains/quanttide-agent-toolkit"]
	path = domains/quanttide-agent-toolkit
	url = https://github.com/quanttide/quanttide-agent-toolkit.git
[submodule "domains/quanttide-knowl-toolkit"]
	path = domains/quanttide-knowl-toolkit
	url = https://github.com/quanttide/quanttide-knowl-toolkit.git
[submodule "domains/quanttide-audit-toolkit"]
	path = domains/quanttide-audit-toolkit
	url = https://github.com/quanttide/quanttide-audit-toolkit.git
[submodule "domains/quanttide-docs-toolkit"]
	path = domains/quanttide-docs-toolkit
	url = https://github.com/quanttide/quanttide-docs-toolkit.git
[submodule "domains/quanttide-devops-toolkit"]
	path = domains/quanttide-devops-toolkit
	url = https://github.com/quanttide/quanttide-devops-toolkit.git
[submodule "domains/quanttide-index-toolkit"]
	path = domains/quanttide-index-toolkit
	url = https://github.com/quanttide/quanttide-index-toolkit.git
[submodule "domains/quanttide-meta-toolkit"]
	path = domains/quanttide-meta-toolkit
	url = https://github.com/quanttide/quanttide-meta-toolkit.git
[submodule "defaults/quanttide-founder-toolkit"]
	path = defaults/quanttide-founder-toolkit
	url = https://github.com/quanttide/quanttide-founder-toolkit.git
[submodule "defaults/quanttide-tech-toolkit"]
	path = defaults/quanttide-tech-toolkit
	url = https://github.com/quanttide/quanttide-tech-toolkit.git
[submodule "domains/quanttide-product-toolkit"]
	path = domains/quanttide-product-toolkit
	url = https://github.com/quanttide/quanttide-product-toolkit.git
[submodule "domains/quanttide-media-toolkit"]
	path = domains/quanttide-media-toolkit
	url = https://github.com/quanttide/quanttide-media-toolkit.git
